/* Home */
/*----------------------------------------------------------------------------------------------------*/

#home-page
{
	#banner
	{
		.carousel-item
		{
			.text
			{
				position: absolute;
				top: 20%;
				left: 45%;
				right: 0rem;
				background-color: rgba(0,0,0,.6);
				width: 40rem;
				color: white !important;
				padding: 2rem;

				h2
				{
					margin: 0;
					padding: 1rem 0;
				}

				.btn
				{
					color: white !important;
				}
			}
		}
	}

	#home-about
	{
		h1
		{
			margin-bottom: 0;
		}

		#cards
		{
			display: flex;
			flex-direction: column;
			margin-bottom: 2rem;

			.card
			{
				i
				{
					font-size: 3rem;
					margin: 1rem 0;
				}

				.card-text
				{
					padding: 0 2rem;
					margin-bottom: 2rem;
				}
			}
		}
	}

	#home-reviews
	{
		#reviews-carousel
		{
			min-height: 22rem;
		}

		.carousel-inner
		{
			padding: 0 5rem;

			.title
			{
				margin-bottom: 1rem;
			}

			.stars
			{
				margin-bottom: 1rem;
			}

			.name
			{
				font-weight: 600;
			}
		}
	}
}

@media (max-width: 430px)
{
	#home-page
	{
		p
		{
			font-size: 1.2rem;
		}

		h2
		{
			font-size: 1.6rem;
		}
	}
}

@media (min-width: 768px)
{
	#home-page
	{
		#home-about
		{
			#cards
			{
				flex-direction: row;

				.card
				{
					height: 100%;
				}
			}
		}

		#home-reviews
		{
			#reviews-carousel
			{
				min-height: 11rem;
			}
			
			.carousel-inner
			{
				padding: 0 10rem;
			}
		}
	}
}