/* Header */
/*----------------------------------------------------------------------------------------------------*/

nav
{
	> .container
	{
		max-width: $max-width;
	}

	.navbar-brand
	{
		padding: 0.3rem 0.5rem;
		color: white;
		transition: all .15s ease-in-out;

		img
		{
			width: 2.5rem;
			height: auto;
		}
	}
		.navbar-brand:hover
		{
			color: darken(white, 20%);
		}
	
	.navbar-toggler
	{
		border: 0;

		span
		{
			display: block;
			background-color: white;
			height: 2px;
			width: 25px;
			margin-top: 6px;
			margin-bottom: 6px;
			position: relative;
			left: 0;
			opacity: 1;
			transition: all 0.35s ease-out;
			transform-origin: center left;
		}

		span:nth-child(1)
		{
			transform: translate(0%, 0%) rotate(0deg);
		}

		span:nth-child(2)
		{
			opacity: 1;
		}

		span:nth-child(3)
		{
			transform: translate(0%, 0%) rotate(0deg);
		}

		span:nth-child(1)
		{
			margin-top: 0.3em;
		}
	}

	.navbar-toggler:not(.collapsed) span:nth-child(1) 
	{
		transform: translate(15%, -33%) rotate(45deg);
	}
	
	.navbar-toggler:not(.collapsed) span:nth-child(2)
	{
		opacity: 0;
	}
	
	.navbar-toggler:not(.collapsed) span:nth-child(3)
	{
		transform: translate(15%, 33%) rotate(-45deg);
	}

	.navbar-nav
	{
		.nav-item
		{
			.nav-link
			{
				color: white;
				font-size: 1.3rem;
				padding: 0.5rem 1.2rem;
				transition: all .15s ease-in-out;
				text-align: center;
			}
				.nav-link:hover
				{
					color: darken(white, 20%);
				}
		}
	}
}

@media (min-width: 992px)
{
	nav
	{
		.navbar-brand
		{
			padding: 0.1rem 1.5rem 0.3rem;

			img
			{
				width: 12.5rem;
				height: auto;
			}
		}

		.navbar-nav
		{
			.nav-item
			{
				.nav-link
				{
					text-align: left;
				}
			}
		}
	}	
}

/* Footer */
/*----------------------------------------------------------------------------------------------------*/

footer
{
	text-align: center;
	background-color: $colour-primary;
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
	width: 100%;
	z-index: 3;
	font-size: 1.6rem;

	ul
	{
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
		width:150px;
		margin: 0 auto;

		li
		{
			float: left;
			width: 50px;

			a
			{
				color: white;
				display: block;
				padding: 15px 13px;
				text-decoration: none;
				transition: all .15s ease-in-out;
			}

			a:hover
			{
				color: $colour-primary;
				background-color: white;
			}
		}
	}
}