/* Variables */
/*----------------------------------------------------------------------------------------------------*/


/* Colours */
/*----------------------------------------------------------------------------------------------------*/

$colour-primary: #2a3439;
$colour-secondary: #848689;
$colour-tertiary: #212e22;
$colour-light: #ebebeb;
$colour-medium: #b7b7b7;
$colour-dark: #6d6e6e;

$colour-font: $colour-primary;

$colour-title: #acacac;
$colour-border: $colour-medium;

$link-color: $colour-primary;
$link-hover-color: white;


/* Type */
/*----------------------------------------------------------------------------------------------------*/

$font-size-base: 1rem;
$line-height-base: 1.2;

$title-font: 'Hightower', Garamond, serif, monospace;
$body-font: 'Catamaran', Tahoma, Verdana, sans-serif, monospace;