/* Home */
/*----------------------------------------------------------------------------------------------------*/

#home-page {
    text-align: center;
}

@media (max-width: 430px) {
    #home-page {
        p {
            font-size: 1.2rem;
        }

        h2 {
            font-size: 1.6rem;
        }
    }
}

@media (max-width: 768px) {
    #home-page {
        padding: 0 15px; 
        
        img {
            max-width: 80%;
        }
    }
}